<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
    <h1>Welcome to Piano Tracker</h1>
    <h3>Please Log In</h3>

    Welcome to the Piano Tracker! Please <a href="/signup">Sign Up</a> or <a href="/login">Log In</a> to continue.

    <link rel=”stylesheet” type=”text/css” href=”/main.css” />
    <img src="images/piano nature.jpg">

  </body>
</html>