<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <% if Helpers.is_logged_in?(session) %>
      <h1>Welcome, <%= Helpers.current_user(session).username.capitalize %>!</h1>
      <h2>Check out all of your music!</h2>
    <% end %>
  </head>
  <body id="page-top">
    <h3>Menu</h3>
    <br/>
    <a href="/songs/new">Add A New Song</a>
    <br/>
    <br/>
    <a href="/songs">Your Songs</a>
    <br/>
    <br/>
    <a href="/artists">All Artists</a>
    <br/>
    <br/>
    <a href="/genres">All Genres</a>
    <br/>
    <br/>
    <link rel=”stylesheet” type=”text/css” href=”/main.css” />
    <img src="images/piano beach.jpg">
    <br/>
    <br/>
    <a href="/logout">Log Out</a>
  </body>

</html>